# Node.js modules
node_modules/

# Cypress artifacts
cypress/videos/
cypress/screenshots/
cypress/fixtures/

# Mochawesome report
cypress/reports/

# Archivos de configuración y logs generados
*.log
*.json

# Configuraciones específicas del IDE
.vscode/
.idea/

# Archivos generados por el sistema operativo
.DS_Store
Thumbs.db

# Archivos de construcción
build/
dist/

# Archivos temporales
tmp/
temp/