# Node modules
node_modules/

# Cypress videos and screenshots
cypress/videos/
cypress/screenshots/

# Log files
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Editor-specific files
.vscode/
.idea/
*.swp
*.swo