# Node modules
node_modules/

# Lock files
package-lock.json
yarn.lock

# Cypress features
cypress/videos/
cypress/screenshots/
cypress/reports/

# Docker
*.log
*.pid
*.sock

# Temporary files
*.tmp
*.temp

# Operating System files
.DS_Store
Thumbs.db

# Environment variables
.env

# IDE configurations
.vscode/
.idea/

# Cypress cache
.cypress/cache/

# Cypress installed
cypress/

# Ignore all log files
*.log

# GitHub Actions artifacts
.github/workflows/*.yml
